<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        

    <link rel="stylesheet" href="./assets/css/style.css">
    <title>GroceryShopping | Who? What?</title>
</head>
<body>
    <div class="flow-text" id="message">{{message}}</div>
    <div class="container">
        {{{body}}}
    </div>

    <footer class="text-right bg-dark text-white">
        2020 Grocery Assistance App By Team KIA 
    </footer>


    <script src="./assets/js/main.js"></script>
</body>
</html>