
.container > .card {
    margin-top: 2em;
}

#message {
    font-size: 34px;
    font-family: 'Sacramento', cursive;
    display: none;
    position: fixed;
    background-color: #0ea731;
    z-index: 2;
    right: 10px;
    top: 0;
    border-bottom: 8px solid #012b0c;
    border-radius: 0px 0px 5px 5px;
    color: #FFF;
    padding: 0.1rem 0.6em;
}

#message.show {
    display: block;
}

#main-title {
    width: 100%;
    height: 15em;
    background: #cecece url('https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') center no-repeat;
    background-size: cover;
}

#main-title h1 {
    padding: 0.8em;
    color: #FFF;
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    text-shadow: 2px 2px 1px #06AD32;
}

#completed > a.bg-info {
    background-color: #0ea731 !important;
}

footer {
    margin-top: 1em;
    padding: 1em;
}

@media (max-width: 991.98px) { 
    #main-title h1 {
        font-size: 4em;
    }   
}

@media (max-width: 476px) { 
    #main-title h1 {
        font-size: 3em;
    }   
}